body,html{
    height:100%;
    margin:0; padding:0;
    background-color: whitesmoke;
  }
.article {
    text-align: left;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    background-color: white;
}
.flex-container {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}



header {background: black;color:white;}
footer {background: #aaa;color:white;}
.nav {background:#eee;}

.nav ul {
    list-style-type: none;
    padding: 0;
}
.nav ul a {
    text-decoration: none;
}

@media all and (min-width: 768px) {
    .nav {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
    .article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
    
}
#footer {
    /*position:absolute;
    bottom:0;*/
    margin-top: -50px;
    height: 50px;
    width: auto;
    background: whitesmoke;
}
#toggle {
  position: relative;

  display: block;
  margin: 30px auto;
  padding: 0;

  overflow: hidden;
  width: 250px;
  height: 40px;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: #2ecc71;
  color: #ecf0f1;
  
  transition: background-color .3s;
  font-family: 'Open Sans', sans-serif;
}

#toggle:hover, #toggle:focus {
  background-color: #27ae60;
}

#toggle > * {
  position: relative;
}

#toggle span {
  display: block;
  padding: 12px 24px;
}

#toggle:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#toggle:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}
p {
font-family: 'Open Sans', sans-serif;
font-size: 13px;
}
h1 {
    font-family: 'Open Sans', sans-serif;
}

h2 {

   font-family: 'Open Sans', sans-serif;
   font-size: 16px;
}
.dimple-axis .dimple-title .dimple-custom-axis-titledimple-axis-y{
  stroke:white;
  background: red;
}

#button_container{
float: left;
clear: left;
}
.dimple-custom-axis-titledimple-axis-y{
  font-size:19px;
}
}
